.mainSubscribtion
    .mainSubscribtion__content
        h1.mainSubscribtion__title Подпишитеть и будьте в курсе всех скидок и акций магазинов Великобритании!
        form.mainSubscribtion__form
            .mainSubscribtion__mainForm
                img(src='img/svgIcons/mailIcon.svg').mainSubscribtion__inputIcon
                input(type='email' placeholder='Введите ваш email').mainSubscribtion__mailInput
                p.mainSubscribtion__mailValidMsg
            button(type='submit').mainSubscribtion__orderBtn.btn Подписаться
