.logoLink {
  &__mainImg{
    max-width: 190px;
    max-height: 47px;
    width: 100%;
    height: 100%;
    margin-bottom: 34px;
  }
  &__img {
    max-width: 46px;
    max-height: 47px;
    width: 100%;
    height: 100%;
    margin: 0 5px;
  }
}