@mixin mobile {
  @media (max-width: 480px) { @content; }
}
@mixin mobile-wide {
  @media (max-width: 640px) { @content; }
}
@mixin tablet {
  @media (max-width: 960px) { @content; }
}
@mixin tablet-wide {
  @media (max-width: 1200px) { @content; }
}
@mixin desktop {
  @media (min-width: 1201px) { @content; }
}


@mixin svg($width,$height: $width, $color: $color-shark) {
  max-width: $width;
  width: 100%;
  max-height: $height;
  height: 100%;
  fill: $color;
}
