 // Colors

 $color-caribbean-green: #01CD7D;
 $color-picton-blue: #41B7E9;
 $color-butterfly-bush: #5B52A3;
 $color-white: #ffffff;
 $color-shark: #1F2428;
 $color-mine-shaft: #222222;
 $color-heather: #C0C9D7;
 $color-mercury: #E5E5E5;
$color-link-water: #F2F6FC;
$color-wild-watermelon: #FF5290;

 //FONTS

 $font-gilroy: 'Gilroy', sans-serif;
 $font-weight-regular: 300;
 $font-weight-medium: 600;
 $font-weight-bold: 700;
 $font-weight-bolder: 800;

$transition: all 1s;
$small-radius: 16px;