.productSlider__footerContent
   button.sliders__arowBtn.productSlider__footerBtn.productSlider__leftBtn
      .productSlider__footerImgBlock
         img.productSlider__footerImg.productSlider__footerLeftImg(src="img/clothes3.png", alt="")
      +icon('sliders__arrowIcon productSlider__arrowIcon','prevArrow')
   .productSlider__footerTextBlock
      p.productSlider__footerTermText Срок доставки примерно 10 дней
      p.productSlider__boldText.productSlider__footerPriceText
         | Вы экономите до 
         span.greenText $119.56
   button.sliders__arowBtn.productSlider__footerBtn.productSlider__rightBtn
      +icon('sliders__arrowIcon productSlider__arrowIcon','nextArrow')
      .productSlider__footerImgBlock
         img.productSlider__footerImg.productSlider__footerRightImg(src="img/clothes2.png", alt="")
   