.mainOrder
    .mainOrder__textBlock
        h1.mainOrder__title Поручите нашим мастерам шопинга оформить заказы в английских магазинах и освободите время для более важных дел.
        p.mainOrder__details
            | Такой способ покупки также подойдёт, если магазин принимает только английские карты.
        button.mainOrder__orderBtn.btn Попробовать
    .mainOrder__parallaxBlock.parallax
        img(src='img/orderParallaxBack.png' alt='orderParallaxBack').mainOrder__parallaxBack
        .mainOrder__parallax
            img(src='img/girlImg.png' alt='orderGirlImg' data-parallax-deep="200").mainOrder__parallaxGirl
