-
    let dataObj=[
        {
            dataImg:"howToBuy1.png",
            dataCount:"01",
            dataTitle:"Получаем адрес для покупок в магазинах Великобритании",
            dataInfo:"Okeypost поможет притвориться американцем и не переплачивать. Для этого нужно зарегистрироваться в нашем сервисе. После регистрации вам станут доступны два адреса в Англии, которые вы сможете указывать при оформлении заказов в интернет-магазинах.",
        },
        {
            dataImg:"howToBuy2.png",
            dataCount:"02",
            dataTitle:"Идём за покупками в онлайн-магазины",
            dataInfo:"Выбираем нужные товары в магазинах Англии. Расплачиваемся, как обычно, в качестве адреса доставки указываем координаты одного из складов Okeypost. Оформить покупки можно самостоятельно или с нашей помощью. Вот список того, что",
        },
        {
            dataImg:"howToBuy3.png",
            dataCount:"03",
            dataTitle:"Следим за перемещением посылки до склада",
            dataInfo:"После оформление заказа магазин пришлет трек-номер посылки на ваш e-mail и отправит вещи на наш склад. Через 5-7 дней покупки придут к нам, мы поместим их в специальное хранилище, закрепленное за вашим аккаунтом.",
        },
         {
            dataImg:"howToBuy4.png",
            dataCount:"04",
            dataTitle:"Оплачиваем доставку и покупки отправляются домой",
            dataInfo:"Мы сообщим, когда ваши покупки поступят на склад. Вы сможете заказать что-то еще в других магазинах и отправить все одной посылкой (так выгоднее). До 30 дней покупки будут храниться бесплатно. Когда все товары поступили на склад, выбирайте способ доставки, мы",
        },
        {
            dataImg:"howToBuy5.png",
            dataTitle:"Получаем посылку и спешим сделать новый заказ",
            dataCount:"05",
            dataInfo:"Примерно через 2 недели посылка приедет к вам домой, в пункт выдачи заказов или на почту. Получаем покупки и радуемся :)",
        },
    ]

.howToBuy 
    .howToBuy__title Покупать в Великобритании очень просто
    p.howToBuy__info  Английские магазины не доставляют в Россию, но это не проблема. С OkeyPost можно покупать по лучшим ценам и экономить на доставке. Мы получим ваши посылки, надежно упакуем и отправим их к вам домой.
        each data in dataObj
            .howToBuy__item 
                +image("howToBuy__buyimg", data.dataImg)
                .howToBuy__content.howToBuyContent__item
                    .howToBuyContent__wrapper
                        .howToBuy__count= data.dataCount
                        .howToBuy__datatitle= data.dataTitle
                    .howToBuy__dataInfo= data.dataInfo
    .howToBuy__button
         button.btn Получить адрес в UK
