header.mainHeader
    .mainHeader_textBlock
        h1.mainHeader_title Доставка товаров из&nbsp;Великобритании в&nbsp;Россию
        p.mainHeader_details
            | Начните экономить до 80% на шопинге. Регистрируйтесь в OkeyPost, чтобы покупать со скидками в UK одежду, обувь, гаджеты известных брендов и безопасно отправлять вещи в Россию.
        button.mainHeader_orderBtn.btn Получить адрес в UK
    .mainHeader_animation
        img(src='img/headerParallaxBack.png' alt='headerParallaxBack').mainHeader_animationBack
        .mainHeader_parallax.parallax
            img(src='img/headerManImg.png' alt='headerManImg' data-parallax-deep="200").mainHeader_animationMan
            img(src='img/plane.png' alt='plane' data-parallax-deep="200").mainHeader_animationPlane