.partniorOrder
    .partniorOrder__textBlock
        h1.partniorOrder__title Готовы начать зарабатывать вместе с нами?
        p.partniorOrder__details
            | Присоединяйтесь к партнерской программе Okeypost.com уже сегодня!.
        button.partniorOrder__orderBtn.btn Присоедениться
    .partniorOrder__parallaxBlock.parallax
        img(src='img/svgicons/orderPPParallax.svg' alt='orderPPParallax').partniorOrder__parallaxBack
        .partniorOrder__parallax
            img(src='img/svgicons/orderRacet.svg' alt='orderRacet' data-parallax-deep="200").partniorOrder__orderRacet
