-
    let data=[
        {
            icon:"pp1",
            title:"Дарим скидку 10% вашим друзьям и подписчикам",
            description:"На их первую отправленную посылку. Вам есть чем мотивировать зарегистрироваться именно по вашему реферальному коду или ссылке.",
        },
           {
            icon:"pp4",
            title:"Платим по £3 за отправленную посылку",
            description:"Когда клиент, привлеченный по вашей ссылке, отправляет посылку – на ваш счет поступает $3. Вы можете оплачивать этими деньгами ваши посылки или выводить их себе на счет.",
        },
        {
            icon:"pp2",
            title:"Промо на любой вкус",
            description:"Автоматические или персональные реферальные коды для отправки друзьям или подписчикам в мессенджеры или социальные сети, а также реферальные ссылки и баннеры для ваших сайтов.",
        },
          {
            icon:"pp5",
            title:"Выплаты по запросу",
            description:"Платим по первому вашему требованию без задержек и других сложностей. Если на счету менее $50 – вы можете тратить их на оплату товаров или доставки. Если больше – выводить на свой счет.",
        },
        {
            icon:"pp3",
            title:"Начисляем кэшбэк £1 на 1 посылку",
            description:"За каждую отправленную посылку , возможность оплатить после бонусного счета в 10 фунтов.",
        },  
     
      
    ]

.parniorProgram
    .parniorProgram__title Зарабатывать с нами — проще простого:
    .parniorProgram__wrapper
        each item in data
           .parniorProgram__item.shadow-box
                +icon("parniorProgram__icon", item.icon)
                .parniorProgram__header= item.title
                .parniorProgram__description= item.description
