.mainOrderSecond
    .mainOrderSecond__textBlock
        h1.mainOrderSecond__title Виртуальный тур по нашему складу в реальном времени
        p.mainOrderSecond__details
            | Вы можете всегда посмотреть на нашу слаженую работу на складе
        button.mainOrderSecond__orderBtn.btn Попробовать
    .mainOrderSecond__parallaxBlock.parallax
        img(src='img/tvBack.png' alt='orderParallaxBack').mainOrderSecond__parallaxBack
        .mainOrderSecond__parallax
            img(src='img/TV.png' alt='orderImg' data-parallax-deep="200").mainOrderSecond__parallaxTv
