// Colors
$color-nepal: #949BBE;
$color-black: #000000;
$color-white: #FFFFFF;
$color-silver: #C1C1C1;
$color-royal-blue: #2F3CED;
$color-blue-zodiac: #0F1B41;
$color-zircon: #E8EDFF;
$color-puce: #CC8888;
$color-mine-shaft: #222222;
$color-selago: #F5F7FD;
$color-translucent: rgba(0,0,0,.7);


// Fonts
$font-inter: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;