.shopsPage {
  display: flex;
  justify-content: center;
  align-items: stretch;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;

  &__brandLogoBlock {
    max-width: 209px;
    width: 100%;
    height: 85px;
    object-fit: cover;
    @include mobile {
    margin: 0 auto;
    }
  }
  &__link {
    color: initial;
    background: $color-white;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 30px 25px;
    width: calc(100% / 5 - 16px);
    display: none;
    @include tablet {
      width: 30%;
    }
    @include mobile-wide {
      width: calc(50% - 20px);
    }
    @include mobile {
      width: 100%;
    }

    &_active {
      display: block;
    }
  }

  &__brandItem {

  }

  &__brandLogo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    height: 85px;
    object-fit: contain;
  }

  &__brandName {
    text-align: center;
    margin: 18px 0;
    font-size: 16px;
    font-weight: 700;
  }

}