.globalSocialBlock
    h1.globalSocialBlock__title Остались вопросы? Спросите нас в соцсетях!
    .globalSocialBlock__social.socialLinks
        a.socialLinks__item.logoLink(href='javascript:void(0)')
            +icon('logoLink__img','whiteWhatsup')
        a.socialLinks__item.logoLink(href='javascript:void(0)')
            +icon('logoLink__img','whiteViber')
        a.socialLinks__item.logoLink(href='javascript:void(0)')
            +icon('logoLink__img','whiteChat')