.servicesBlock {
  &__serviceBlock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
      @include tablet {
        flex-direction: column;

    }
  }
}