.mainDeliveryOptions {
  margin-bottom: 170px;
  &__title {
    font-family: $font-gilroy;
    font-size: 36px;
    font-weight: $font-weight-bolder;
    line-height: 56px;
    margin-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
}