.pricesOrder
    .pricesOrder__textBlock
        h1.pricesOrder__title Поручите нашим мастерам шопинга оформить заказы в английских магазинах и освободите время для более важных дел.
        p.pricesOrder__details
            | Такой способ покупки также подойдёт, если магазин принимает только английские карты.
        button.pricesOrder__orderBtn.btn Попробовать
    .pricesOrder__parallaxBlock.parallax
        img(src='img/pricesParalaxBg.png' alt='orderParallaxBack').pricesOrder__parallaxBack
        .pricesOrder__parallax
            img(src='img/pricesParalaxItem.png' alt='orderGirlImg' data-parallax-deep="200").pricesOrder__parallaxBoy
