extends pug/main

block content
    .container 
        include globalNavigation/globalNavigation.pug
    +headerMixin(howToBuy,true,true)
    .container
        include components/howToBuy/howToBuy.pug
    .container-fluid.globalSocialBlock--bg
        .container
            include globalSocialBlock/globalSocialBlock
    .container
        include globalFooter/globalFooter
        include globalFooter/globalFooterAccordion
    .container-fluid.globalFooter--border
        include globalFooter/globalFooterBorder
