extends pug/main
block content
    .container
        include globalNavigation/globalNavigation
    +headerMixin(partnerProgram,true,true)

    .container
        include components/partniorProgram/partniorProgram
        include components/partniorProgram/partniorOrder.pug
        
    .container-fluid.globalSocialBlock--bg
        .container
            include globalSocialBlock/globalSocialBlock
    .container
        include globalFooter/globalFooter
        include globalFooter/globalFooterAccordion
    .container-fluid.globalFooter--border
        include globalFooter/globalFooterBorder
block script
    script(src="js/partniorProgramOrder.js")
    